/* filter.css */

.filter-container {
  width: 700px;
  margin-left: 577px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.checkbox-item {
  margin-right: 20px;
}

.labelText {
  margin-left: 5px;
}
