/* filter.css */

.filter-container {
    width: 700px;
    margin-left: 577px;
    text-align: center;
    border: 2px solid #97baff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.checkbox-item {
    margin-right: 20px;
}