.Menu {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.MenuToggle {
    background-color: #2d6ae2;
    color: white;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
}

.MenuIcon {
    font-size: 20px;
}

.MenuContent {
    position: absolute;
    top: 40px;
    /* Ajuste a distância vertical conforme necessário */
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.MenuContent div {
    margin-bottom: 10px;
    cursor: pointer;
}

.MenuContent div:hover {
    color: #2d6ae2;
}